body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #54318d);
	font-family: sans-serif;
	font-weight: 100;
}

h1{
    color: white;
    padding: 10px;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

thead {
    text-align: left;
    background-color: rgb(23, 15, 63);
}

.appo:hover{
    background-color: rgba(255,255,255,0.3);
    transition: all 0.2s ease-out;
}
.edt{
    right: 0;
}
/* 
thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
} */