.NavbarItems{
    background: rgb(38, 32, 88);
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: #FFFF;
    justify-content: start;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.logo{
    margin-right: 10px;
    height: 50px;
    width: 50px;
}
.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    /*Menu bar*/
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-top: 30px;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}
.nav-links-login {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 400px;
}

.nav-links-login:hover{
    background: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}
.fa-bars {
    color: white;
}

.nav-links-mobile{
    display: none;
}

.menu-icon {
    display: none;
}


@media screen and (max-width: 1500px){
    .NavbarItems {
        position: relative;
        
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px; /*Menu bar height*/
        position: absolute;
        top: 50px;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        /*Menu bar*/
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        /*Menu bar*/
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #8486f6;
        color: white;
        border-radius: 0;
    }
    .nav-links-login{
        /*Menu bar*/
        margin-left: 0;
        width: 100%;
    }
    .nav-links-login:hover{
        border-radius: 20;
    }
    .navbar-logo{
        /*Logo in mobile*/
        margin-top: 10px;
        margin-left: 10px;
    }
    .menu-icon{
        /*X icon*/
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        /*X icon*/
        color: white;
        font-size: 2rem;
    }

    .nav-links-mobile:hover{
        background: white;
        color: #6568F4;
        transition: 250ms;
    }

}
